snippet main "Main Boilerplate" bA
def main() -> None:
    ${0:...}

if __name__ == '__main__':
    main()
endsnippet

snippet def "Function" bA
def $1($2) -> $3:
    ${4:...}
endsnippet

snippet class "Class" bA
class $1:
    def __init__(self, $2):
        ${3:...}
endsnippet
