snippet fn "Function declaration" A
fn $1($2) -> $3 {
    $0
}
endsnippet

snippet struct "Struct declaration" bA
struct $1 {
    $0
}
endsnippet

snippet enum "Enum declaration" bA
enum $1 {
    $0
}
endsnippet

snippet {} "Braces"
{
    $0
}
endsnippet

snippet main "Main Function" bA
fn main() {
    $0
}
endsnippet

snippet rmain "Main Function" bA
fn main() -> Result<(), Box<dyn std::error::Error>> {
    $0
}
endsnippet
